@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Fredoka:wght@300..700&family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Poppins", sans-serif;
  @apply bg-[var(--color-bg)] text-[var(--color-text)] transition-colors duration-200;
}
:root {
  --color-bg: #ffffff;
  --color-text: #1a1a1a;
}

.dark {
  --color-bg: #0f172a; /* This should match your dark.900 color */
  --color-text: #ffffff;
}
/* For light theme arrow visibility */
.slick-prev:before, 
.slick-next:before {
  color: #494848 !important; /* Black arrows for light theme */
}

/* Optional: Add some spacing around the slider */
.slider-container {
  padding: 0 20px;
  margin: 20px 0;
}